@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

body {
    font-family: 'Montserrat', sans-serif;
}


header {
    height: 500px;
    width: 100%;
}

section {
    height: 500px;
    width: 100%;
}


footer {
    background-color: gray;
    height: 100px;
    width: 100%;
}

.footer-paragraph p {
    color: #fff;
    font-size: 12px;
}

.footer-paragraph span {
    color: #2fd781;
    font-size: 12px;
}