@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
* {
    margin: 0 auto;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: #69d388;
    height: 500px;
    width: 100%;
}

header h1 {
    color: #fff;
    font-size: 53px;
    font-weight: 500;
}
.card {
    background-color: #9c9da0;
    height: 400px;
    width: 400px;
}
section {
    background-color: yellow;
    height: 500px;
    width: 100%;
}
/* CSS do Section de Pagamento - Dinheiro*/
.hr-confidence {
    border: 6px solid #e65181;
}
.pay {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: center;
    margin: 10px;
    width: 100%;
}
.pay h2 {
    color: #ee8040;
    font-size: 38px;
    font-weight: 800;
    padding-right: 600px;
}
.text-money {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.text-money p{
    color: #9f9f9f;
    font-size: 21px;
    font-weight: 700;
    padding-right: 200px;
    text-transform: uppercase;
}
.text-money ul{
    color: #6d6e71;
    font-size: 16px;
    font-weight: 500;
}
.text-money li {
    color: #6d6e71;
    font-size: 16px;
    font-weight: 500;
    list-style-type: inherit;
    margin: 10px 0 10px 0;
}    

/* CSS do Section de Pagamento - Refeição*/
.pay hr {
    border: 2px solid #cfcfcf;
    width: 90%;
}
.text-food {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.text-food p{
    color: #69d388;
    font-size: 20px;
    font-weight: 700;
    padding-left: 90px;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
}
.text-food ul{
    color: #6d6e71;
    font-size: 16px;
    font-weight: 500;
    padding-left: 165px;
}
.text-food li {
    color: #6d6e71;
    font-size: 16px;
    font-weight: 500;
    list-style-type: inherit;
    margin: 10px 0 10px 0;
}  
.hr-pay {
    border: 6px solid #69d388;
}
/* CSS do Rodapé */ 
footer {
    align-items: center;
    background-color: #999999;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    width: 100%;
}
.text-footer {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}
.text-footer span {
    color: #2fd781;
}
.logo {
    background-color: red;
    height: 50px;
    width: 50px;
}


